body {
    background-color: #E9ECF8;
}

header {
    background-color: #356EA9;
    font-family: "Press Start 2P", system-ui;
    font-size: 2em;
    color: white;
    padding: 2rem;
    width: 100%;
    position:fixed;
}

.encryptor_container {
    display: flex;
}

.container_butoms {
    display: flex;
    flex-direction: row;

}

.encryptor_input {
    display: flex;
    flex-direction: column;
    margin: 10rem 15rem 10rem 30rem ;
}

.encryptor_output{
    margin: 10rem 10rem;

}

footer {
    font-family: "Press Start 2P", system-ui;
    font-size: 1 rem;
    background-color: #356EA9;
    color: white;
    padding: 2rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}