body {
    background-color: #e4e6eb;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(to bottom, #0A3871, #356EA9);
    color: white;
    padding: 2rem;
    width: 100%;
    gap: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#title {
    font-family: "Press Start 2P", system-ui;
    font-size: 2rem;
}

#logo {
    margin-left: 14rem;
}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.encryptor_input {
    display: flex;
    flex-direction: column;
}

#input_textarea {
    font-size: 28px;
    border-radius: 8px;
    width: 620px;
    height: 160px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 28px;
    resize: none;
    outline: none;
    color: #0A3871;
    font-family: "Roboto", sans-serif;
}

.container_buttons {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    gap: 24px;
}

.container_buttons button {
    background-color: #356EA9;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    width: 200px;
    height: 50px;
    font-size: 14px;
    font-family: "Press Start 2P", system-ui;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.container_buttons button:hover {
    background-color: #0A3871;
    transform: scale(1.1);
}

.encryptor_output {
    display: flex;
    flex-direction: column;
    margin-top: 2.4rem;
}

#output_textarea {
    resize: none;
    outline: none;
    border: none;
    border-radius: 32px;
    font-family: "Roboto", sans-serif;
    font-size: 28px;
    color: #495057;
    width: 400px;
    height: 500px;
    background-image: url('img/textNotFound.png');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

 
    25% {
        transform: translateX(-5px);
    }

    
    50% {
        transform: translateX(5px);
    }

    
    75% {
        transform: translateX(-3px);
    }

    
    100% {
        transform: translateX(0);
    }

    
}

.shake {
    animation: shake 0.4s ease-in-out;
}


#output_button {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

}

#copy_button {
    background-color: #356EA9;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    width: 200px;
    height: 50px;
    font-size: 14px;
    font-family: "Press Start 2P", system-ui;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;

}

#copy_button:hover {
    background-color: #0A3871;
    transform: scale(1.1);

}

footer {
    font-family: "Press Start 2P", system-ui;
    font-size: 0.2 rem;
    background-image: linear-gradient(to bottom, #356EA9, #0A3871);
    color: white;
    padding: 2rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}